<header>
    <nav class="navbar navbar-expand-sm navbar-background navbar-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/comments">Leave a Comment</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/game" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            The Multitasking Test
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/instructions-1">Instructions</a></li>
                            <li><a class="dropdown-item" href="/comments">Leave a Comment</a></li>
                            <li><a class="dropdown-item" href="/game">Multitasking Test</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    // To set active link.
    let url = window.location.href;
    // Select all the anchor tags
    let links = document.querySelectorAll("a");
    // Loop through the link lists
    links.forEach((link) => {
        // Remove .active on all links.
        link.classList.remove("active");
        var href = link.href;
        if (href == url)
            link.classList.add("active");
    });

</script>