<!DOCTYPE html>
<html lang="">

<%- include('partials/head'); %>

    <body>
        <div class="container mt-3 mb-5">
            <h1>Visible Bottleneck I</h1>

            <h2 class="mt-4 text-primary">Q: OK, I tried it. What does Visible Bottleneck I show?</h2>
            <ul>
                <li>
                    <p>Presumably you found it impossible to keep both bars from rising up when you tried to perform
                        both
                        tasks at the same time. So does everyone else as far as we know. This illustrates that one
                        cannot
                        normally carry out two tasks completely independently <em>when each of them requires a
                            choice of
                            response</em>. When we try to do so, substantial delays occur in one or both tasks. This
                        is
                        true
                        even
                        when neither task is anything that would be described as mentally challenging.</p>
                </li>
            </ul>

            <h2 class="mt-4 text-primary">Q: How does the demo work?</h2>
            <ul>
                <li>
                    <p>Each bar rises at a pre-set rate. A correct response in the relevant task lowers the bar by a
                        certain
                        amount. An incorrect response raises it. Thus, to keep it from rising to the top, you must
                        respond
                        both quickly and accurately. The parameters have been adjusted so in the single-task
                        situation
                        most
                        people can keep the bar from rising, or even drive it down to the floor. In the dual-task
                        situation,
                        the parameters stay the same as in the single-task situations; the only difference is that
                        you
                        need
                        to do both tasks simultaneously. If you could do both tasks in parallel at full speed, you
                        should
                        experience no great difficulty. (To verify that the difficulty of the two tasks is
                        unchanged,
                        try
                        having someone sit down with you at your computer and do one of the tasks while you do the
                        other.
                        That’s a lot easier, isn’t it?) </p>
                </li>
            </ul>

            <h2 class="mt-4 text-primary">Q: What causes this interference?</h2>
            <ul>
                <li>
                    <p>Much research in this area argues that one particular mental operation is almost invariably
                        carried
                        out sequentially in tasks like this: the <em>planning of responses</em>. The same is true of
                        certain
                        types of
                        <em>decision operations</em> and <em>memory retrievals</em>. On the other hand, the brain
                        seems
                        capable of perceiving
                        stimuli while it is choosing a response, and actually producing motor responses in one task
                        can
                        overlap with the choice of a response in another.
                    </p>
                </li>
            </ul>

            <h2 class="mt-4 text-primary">Q: Where can I read more about this phenomenon?</h2>
            <ul>
                <li>
                    <p><a target="_blank"
                            href="https://www.amazon.com/Psychology-Attention-Bradford-Books/dp/0262161656/ref=sr_1_2?crid=3384ZL1E6P93J&keywords=Pashler&qid=1676038812&s=books&sprefix=pashler%2Cstripbooks%2C155&sr=1-2">
                            This book</a> and <a target="_blank"
                            href="http://laplab.ucsd.edu/articles/Pashler_AmSci1993.pdf">this American
                            Scientist paper</a> provide an overview.</p>
                </li>
            </ul>

            <h2 class="mt-4 text-primary">Q: Are all tasks requiring a choice of responses subject to this sort of
                processing bottleneck?
            </h2>
            <ul>
                <li>
                    <p> A few special tasks that involve extremely “natural” mappings between stimuli and responses
                        may
                        possibly not be subject to it. For
                        example, repeating words aloud as you hear them is a task most people can carry out in
                        parallel
                        with
                        other tasks (McLeod & Posner, 1984). The same is true of moving your eye to look at a spot
                        (Pashler,
                        Carrier & Hoffman, 1993). There may be others. Pressing a button depending on the spatial
                        location
                        of a disk (as in Visible Bottleneck II) may also bypass this bottleneck.</p>
                </li>
            </ul>

            <h2 class="mt-4 text-primary">Q: What is the neural basis for this bottleneck?</h2>
            <ul>
                <li>
                    <p>No one really knows, although some people have recently offered speculations, e.g. <a
                            href="http://www.psy.vanderbilt.edu/faculty/marois/Publications/Dux_et_al-2006.pdf">R.
                            Marois &
                            Colleagues</a>.</p>
                </li>
            </ul>

            <h2 class="mt-4 text-primary">Q: Are you saying people can only do one thing at a time?</h2>
            <ul>
                <li>
                    <p>Not at all. If one of the tasks does not involve a choice of responses (e.g., if it merely
                        involves
                        repetitive rhythmic tapping, or requires perceiving and identifying stimuli without the need
                        to
                        decide on responses), interference is often reduced or even absent (subsequent demos on this
                        site
                        will illustrate this point). Laboratory experiments in which response times are analyzed in
                        detail
                        have lent considerable support to the idea of a “central bottleneck” in response planning
                        and
                        indicated that other operations are often processed in parallel between the two tasks (for
                        recent
                        reviews, see H. Pashler, The Psychology of Attention, 1998, MIT Press; P. Jolicoeur,
                        <em>Journal
                            of
                            Experimental Psychology: Human perception and Performance</em>, 1999, 25, 596-616).
                    </p>
                </li>
            </ul>

            <h2 class="mt-4 text-primary">Q: When was a bottleneck in response planning first suspected?</h2>
            <ul>
                <li>
                    <p>A slowing when people must respond to two stimuli presented in rapid succession was first
                        observed by
                        Telford in 1931. Several psychologists in the UK, including Margaret Vince and Kenneth Craik
                        made
                        related observations in the 1940s. Alan Welford was the first to specifically claim that the
                        brain
                        is subject to a single-channel bottleneck arising in the selection of responses. </p>
                </li>
            </ul>

            <h2 class="mt-4 text-primary">Q: Does this Visible Bottleneck I demo have any scientific significance or
                is
                it
                just a
                demonstration?
            </h2>
            <ul>
                <li>
                    <p> It may have some. In most laboratory studies of dual-task performance, the subject performs
                        two
                        discrete tasks in rapid succession (the so-called “psychological refractory period”
                        experiment). A
                        few psychologists have argued that dual-task slowing there may reflect <em>voluntary</em>
                        postponement of
                        processing, not a basic performance limit of the brain. They propose that subjects postpone
                        selecting responses when presented with a pair of discrete tasks in order to make sure they
                        do not
                        respond in a reverse order. Whether or not that is plausible in the laboratory tasks, with
                        the
                        Visual Bottleneck applet there is a strong incentive for the subject to ignore response
                        order
                        completely, and process the tasks independently if that is possible. After all, if you could
                        perform
                        the two tasks independently, you would keep the bars from rising. This does not seem to
                        happen.</p>
                    <p>
                        Also, other psychologists have suggested that the slowing found in the discrete laboratory
                        experiments just described might reflect the abrupt nature of the stimuli used in those
                        tasks.
                        Perhaps the brain can process two tasks at the same time, they argue, but one task would
                        need to be
                        performed for a few seconds before this capability would emerge. The present demo seems to
                        indicate
                        that this is not a critical factor (if you try getting one task going and then adding in the
                        other
                        task you will find that it doesn’t help much). Thus, this simple applet has some relevance
                        to
                        current controversies in the field of human attention research.
                    </p>
                </li>
            </ul>

            <h2 class="mt-4 text-primary">Q: Has this rising-bar task ever been studied in the laboratory?</h2>
            <ul>
                <li>
                    <p>Not so far as we know. Related studies were performed by Kalsbeek and colleagues (1967)
                        and
                        Gladstones and colleagues (1989), however. They didn’t have bars, but they did examine
                        the rate of
                        performance of two tasks. Both groups interpreted their results as favoring the idea of
                        a central
                        bottleneck.</p>
                </li>
            </ul>

            <h2 class="mt-4 text-primary">Q: What would happen if one practiced this task for a long time? Would it
                become
                “automatic” so
                I could keep
                both bars down?</h2>
            <ul>
                <li>
                    <p>One thing that would be certain to happen is that you would get much faster even at
                        the single-task
                        performance. If the parameters were kept as they are, you would find it easier and
                        easier to drive
                        the bar down to the floor in the single task situation. The interesting question is
                        what would
                        happen if the rate at which the bars move up were increased as you got better,
                        keeping the
                        single-task situation equally challenging. What would happen then in the dual-task
                        situation? Would
                        performance fail catastrophically? We don’t know yet, but we hope to find out.</p>
                </li>
            </ul>

            <h2 class="mt-4 text-primary">Q: Does this kind of research have any practical implications?</h2>
            <ul>
                <li>
                    <p>The fact that there are severe limitations in our ability to perform certain
                        mental operations
                        simultaneously, even when the tasks appear simple and don’t involve the use of
                        the same body parts,
                        has obvious implications for issues like the safety of driving while using
                        cellphones. More
                        generally, a better understanding of dual-task performance should be helpful in
                        interface design for
                        any activity where rapid performance can be important, such as in aviation as
                        well as the use of
                        automobiles. Distraction appears to be a factor in many accidents, so a better
                        understanding of
                        attention limits should be useful.</p>
                </li>
            </ul>

            <h2 class="mt-4 text-primary">Q: I had no trouble keeping both bars down!</h2>
            <ul>
                <li>
                    <p> Really? Please contact us.</p>
                </li>
            </ul>

            <p>&nbsp;</p>


            <h2>REFERENCES</h2>

            <ul>
                <li>
                    <p>Gladstones, W. H., Regan, M. A., and Lee, R. B. (1989). Division of
                        attention: The single-channel
                        hypothesis revisited. <u>Quarterly Journal of Experimental Psychology: Human
                            Experimental
                            Psychology,
                            41(A)</u>, 1-17.</p>
                </li>
                <li>
                    <p>Kalsbeek, J. W. H., & Sykes, R. N. (1967). Objective measurement of mental
                        load. <u>Acta
                            Psychologica,
                            27</u>,
                        253-261.</p>
                </li>
                <li>
                    <p>McLeod, P., and Posner, M. I. (1984). Privileged loops from percept to act.
                        In H. Bouma and D. G.
                        Bouwhuis, (Eds.), <u>Attention and Performance X</u>. London: Lawrence
                        Erlbaum Associates.</p>

                </li>
                <li>
                    <p>Pashler, H., Carrier, M., and Hoffman, J. (1993). Saccadic eye movements and
                        dual-task interference.
                        <u>Quarterly Journal of Experimental Psychology, 46A</u>, 51-82.
                    </p>
                </li>
                <li>
                    <p>Vince, M. (1949). Rapid response sequences and the psychological refractory
                        period. <u>British
                            Journal
                            of
                            Psychology</u>, 40, 23-40.</p>
                </li>
                <li>
                    <p>Welford, A. T. (1952). The "psychological refractory period" and the timing
                        of high speed performance
                        --
                        A review and a theory. <u>British Journal of Psychology</u>, 43, 2-19.</p>
                </li>
                <li>
                    <p>Welford, A. T. (1967). Single-channel operation in the brain. <u>Acta
                            Psychologica, 27</u>, 5-22.</p>
                </li>
            </ul>

            <p>&nbsp;</p>
        </div>
    </body>

</html>