<!doctype html>
<html lang="en">
<%- include('partials/head'); %>

    <body>
        <%- include('partials/navbar'); %>
            <div class="main">
                <div class="text-center banner fixed-bottom mx-auto"
                    style="margin-bottom: 0rem!important; padding-bottom: 1rem;">
                    <h1 class="display-1 text-danger">
                        The
                        Visible Bottleneck
                    </h1>
                    <a href="/game" class="btn btn-outline-danger btn-lg px-4 mt-3 play-game-btn" role="button"
                        style="background-color: black;">Test
                        Your
                        Multitasking</a>
                </div>
            </div>


    </body>

</html>