<!DOCTYPE html>
<html lang="">

<%- include('partials/head'); %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KCDB571HMJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KCDB571HMJ');
    </script>

    <body>
        <%- include('partials/navbar'); %>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a id="edit-button" class="btn btn-info" role="button" href="/instructions-1/edit"
                                style="display:none">Edit</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-outline-success" role="button" href="/instructions-2">Next</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container">

                <h1>Left Task</h1>
                <div id="instructions"></div>

            </div>
            <nav class="navbar fixed-bottom bg-light">
                <input id="edit-code" type="text" class="form-control" placeholder="code" aria-label="Code"
                    style="width: 100px">
            </nav>
            <script>
                // Show the edit button, if code is correct.
                document.getElementById('edit-code').addEventListener("input", function (e) {
                    if (this.value == "1967") {
                        document.getElementById('edit-button').style.display = "block";
                    }

                    // Save to browser storage for use in next step.
                    localStorage.setItem("code", this.value);
                });

                // Load the instructions.
                fetch('/instructions-1/show')
                    .then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        document.getElementById("instructions").innerHTML = data.left_task;
                    });
            </script>
    </body>

</html>