<!DOCTYPE html>
<html lang="">

<head>
    <meta content="user-scalable=0, initial-scale=1,minimum-scale=1, maximum-scale=1, width=device-width, minimal-ui=1"
        name="viewport">
    </meta>
    <title>visual-kalsbeek-program</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    </style>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn btn-info" role="button" href="/instructions-3">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">

        <h1>Right Task</h1>
        <p>Next you are going to try what we call the “Right Task”.</p>

        <p>Here, you will be responding with your right hand. There are three buttons on the keyboard you can press
            when
            you see a letter flash on the screen. If you see an A you will press the comma key. If you see a B you
            will
            press the period key. And if you see a C you will press the slash key.</p>

        <p>Please keep the index, middle and ring fingers of your right hand rested on the three keys.</p>

        <p>Your goal is to respond at a rate that keeps the red bar on the right side of the screen as low as
            possible.
            It's always Rising unless you respond accurately and promptly enough. Your goal is to drive the bar as
            low
            as possible.</p>

    </div>
    <script>
        // Load the instructions.
        fetch('/instructions/show')
            .then(function (response) {
                return response.json();
            }).then(function (data) {


            });
    </script>
</body>

</html>