<!DOCTYPE html>
<html lang="">

<head>
    <meta content="user-scalable=0, initial-scale=1,minimum-scale=1, maximum-scale=1, width=device-width, minimal-ui=1"
        name="viewport">
    </meta>
    <title>visual-kalsbeek-program</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    </style>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn btn-info" role="button" href="/instructions-2/edit">Edit</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn btn-info" role="button" href="/instructions-3">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">

        <h1>Right Task</h1>
        <div id="instructions"></div>

    </div>
    <script>
        // Load the instructions.
        fetch('/instructions-2/show')
            .then(function (response) {
                return response.json();
            }).then(function (data) {
                document.getElementById("instructions").innerHTML = data.right_task;
            });
    </script>
</body>

</html>