html,
body {
    height: 100%;
}

body {
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Montserrat',
        sans-serif;
}

.main {
    background-color: white;
    background-image: url('/images/hero-images/hero-005.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: calc(100% - 64px);
}

/* Navbar */
a.nav-link {
    /* color: black; */
    color: white;
}

a.nav-link:hover,
a.nav-link:active {
    color: #dc3545;
}

.active {
    color: #dc3545 !important;
}

.navbar-background {
    background-color: black;
}



/* Home page */

.banner {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%
}

.play-game-btn:hover,
.play-game-btn:active {
    color: #ffc107 !important;
    border-color: #ffc107 !important;
}


/* FAQ page */


/* Game page */
.sidebar-btn {
    position: fixed;
    right: 0px;
    z-index: 1;
}

.sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    top: 100px;
    border-radius: 10px;
    padding: 10px;
}

.sidebar-animate-right {
    position: relative;
    animation: animateright 0.4s;
}

#admin_code {
    background-color: lightgrey;
}

/* Medium screen devices (768px and above) */
@media only screen and (max-width: 821px) {

    .main {
        background-image: url('/images/hero-images/hero-006B.png');
    }
}


/* Comments Page */

/* Reddit style skill resources forum */

.forum-container {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

.forum-post img {
    max-width: 100%;
    height: auto;
}

.resource-vote-container {
    width: 32px;
}

.resource-vote-button {
    width: 32px;
}

.userUpVote {
    background-color: green;
}

.userDownVote {
    background-color: red;
}

.resource-vote-count-span {
    display: table;
    margin: 0 auto;
}

.resource-header {
    display: flex;
}

.resource-header-buttons {
    margin-left: auto;
}

.forum-buttons {
    width: 44px;
}