html,
body {
    height: 100%;

}

body {
    font-family: 'Roboto Slab', serif;
}

.main {
    background-color: white;
    background-image: url('/images/hero-images/hero-005.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
}

a.nav-link {
    /* color: #ffc107; */
    color: black;
}


.banner {
    color: #ffc107;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%
}


/* Medium screen devices (768px and above) */
@media only screen and (max-width: 821px) {

    .main {
        background-image: url('/images/hero-images/hero-006B.png');
    }
}